
#playground{
	background-color: darkcyan;
}

.block{
	width:23px;
	height:23px; 
	border: 1px solid black;
	float: left;
}
.B{
	width:23px;
	height:23px; 
	border: 1px solid black;
	background-color: black;
	float: left;
}
.W{
	width:23px;
	height:23px; 
	border: 1px solid black;
	background-color: brown;
	float: left;
}
.P{
	background-color: purple;
}

.G{
	background-color: gold;
}